@page "/Create3"
@inject TecnicoServies tecnicoServies
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>RegistrodeTecnicos</PageTitle>
<EditForm Model="tecnico">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounde" style="background-color: #f8f9fa ">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Registro de Prioridades</h3>
        </div>

        <div class="card-body">
            @*TecnicoId*@
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="TecnicoId" class="form-label">TecnicoId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="tecnico.TecnicoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>/>
                        <ValidationMessage For="@(() => tecnico.TecnicoId)" />
                    </div>
                    @*Nombres*@
                    <div class="mb-3">
                        <label for="Nombres" class="form-label">Descripci&oacuten:</label>
                        <InputText @bind-Value="tecnico.Nombre" class="form-control" />
                        <ValidationMessage For="@(() => tecnico.Nombre)" />
                    </div>
                    @*SueldoHora*@
                    <div class="mb-3">
                        <label> SueldoHora </label>
                        <InputNumber @bind-Value="tecnico.Sueldohora" class="form-control" />
                        <ValidationMessage For="@(() => tecnico.Sueldohora)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Retroceder"><span class="bi bi-arrow-bar-left"></span> Retroceder </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    public Tecnicos tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;

    public void Nuevo()
    {
        tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tecnicoEncontrado = await tecnicoServies.Buscar(tecnico.TecnicoId);

        if (tecnicoEncontrado != null)
        {
            tecnico = tecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public bool Validar()
    {
        Existe = (tecnicoServies.Listar(t => t.Nombre.ToLower() == tecnico.Nombre.ToLower() && t.TecnicoId != tecnico.TecnicoId).Any());
        return Existe;
    }

    public async Task Guardar()
    {
        if (Validar())
        {
            return;
        }

        var guardo = await tecnicoServies.Guardar(tecnico);
        if (guardo)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicoServies.Eliminar(tecnico.TecnicoId);
        Nuevo();
    }

    private void Retroceder()
    {
        navigationManager.NavigateTo("/Create");
    }
}
